* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 Helvetica, sans-serif;
}

pre, code, tt, .bootstrap_option input {
  font-family: Menlo, Monaco, monospace;
}

ul {
  list-style-type: none;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

p {
  display: block;
  margin: 1em 0;
}

a {
  color: #000;
  font-weight: bold;
}
hr {
  margin: 0.2em 0;
  border: none;
  border-top: #000 1px solid;
}

h1 {
  font-size: 5.5em;
  letter-spacing: -0.04em;
}
h1 a {
  text-decoration: none;
}
h1 a:hover {
  text-shadow: #000 0 0 5px;
}
h1, .nav li a {
  line-height: 1.2;
}

.bootstrap_option {
  padding: 0.4em 0.4em;
  overflow: hidden;
}
.bootstrap_option, .bootstrap_option input {
  line-height: 1.2;
  background-color: #000;
}
.bootstrap_option input {
  float: left;
  font-size: 2em;
  color: #0ad;
}

.bootstrap_option input {
  border: none;
  display: block;
}
.bootstrap_option.curl input {
  width: 20em;
}
.bootstrap_option.wget input {
  width: 21.2em;
}

#wr_world {
  margin: 0 2em;
}

#world {
  margin: 0.5em auto;
  border-top: #000 0.5em solid;
  width: 56em;
}

.header {
  border-bottom: #000 1px solid;
  background: transparent url(../images/babushka.png) bottom right no-repeat;
}

.footer {
  text-align: right;
  padding: 0.2em;
}
.footer span {
  font-size: 11px;
}

.header, .nav {
  overflow: hidden;
}

.h1 {
  margin-right: 2em;
}

.header .h1, .nav {
  float: left;
}

.nav li {
  float: left;
  display: block;
  width: 6em;
}
.nav li a {
  font-size: 120%;
  display: block;
  padding: 0.3em;
  border-left: #000 1px solid;
  color: #000;
  font-weight: bold;
  text-decoration: none;
/*  -webkit-transition: text-shadow 0.5s linear;*/
}
.nav li a:hover {
  text-shadow: #000 0px 0px 3px;
}
.nav li a .arrow {
  font-size: 80%;
}

.sections {
  clear: both;
  padding: 0.2em 0;
  border-bottom: #000 0.5em solid;
}
.sections p,
.sections .bootstrap_select {
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.sections #demo .video {
  background-color: #000;
}
.sections #demo object {
  display: block;
  margin: 0 auto;
}

.bootstrap_select {
  float: left;
}
.bootstrap_select label {
  padding-right: 1em;
  font-weight: bold;
}

.hello {
  font-size: 1.4em;
}
