* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/1.5 Helvetica, sans-serif;
}

pre, code, tt {
  font-family: Menlo, Monaco, monospace;
}

p {
  display: block;
  margin: 0.9em 0;
}

hr {
  margin: 0.5em 0;
  border: none;
  border-top: #000 0.5em solid;
}

h1 {
  font-size: 5em;
  letter-spacing: -0.04em;
}
h1, ul.nav li a {
  line-height: 1.2;
}

pre.big {
  overflow: hidden;
}
pre.big code {
  display: block;
  font-size: 2em;
  padding: 0 0.2em;
  color: #0ad;
  background-color: #000;
}

span.sub {
  color: #999;
}

#wr_world {
  margin: 0 2em;
  position: fixed;
  top: 0;
  bottom: 0.5em;
  border-bottom: #000 0.5em solid;
}

#world {
  margin: 0.5em auto;
  border-top: #000 0.5em solid;
  width: 56em;
}

.header {
  overflow: hidden;
  border-bottom: #000 1px solid;
}

.h1,
ul.nav {
  float: left;
}

.h1 {
  width: 24em;
}

ul.nav li {
  font-size: 150%;
  float: left;
  display: block;
  width: 5.33333em;
}
ul.nav li a {
  display: block;
  padding: 0.3em;
  border-left: #222 1px solid;
  color: #000;
  font-weight: bold;
  text-decoration: none;
/*  -webkit-transition: text-shadow 0.5s linear;*/
}
ul.nav li a:hover {
/*  text-shadow: #007722 0px 0px 5px;*/
}
ul.nav li a .arrow {
  font-size: 80%;
}

.sections {
  clear: both;
  border-bottom: #000 1px solid;
}
.sections p,
.sections .bootstrap_select {
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.sections #demo {
  background-color: #000;
}
.sections #demo object {
  display: block;
  margin: 0 auto;
}

.bootstrap_select {
  float: left;
}
.bootstrap_select label {
  padding-right: 1em;
  font-weight: bold;
}
